footer{
    border: 1px solid #e1e1e1;
    height: 10rem;
    padding-top: 5rem;
    .footerGridContenedor{
        display: grid;
        position: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 0 5rem 0 5rem;
        .footerMenu{
            text-align: center;
            h3{
                margin-bottom: 0.5rem;
            }
            a{
                display: block;
                text-decoration: none;
                color: rgb(107, 107, 107);
                &:hover{
                    color: black;
                }
            }
        }
    }
    .copy{
        color: black;
        list-style: none;
        text-decoration: none;
        text-align: center;
        padding-top: 5rem;
    }
}