// ! NO SE PORQUE NO ME FUNCIONAN LAS MEDIA QUARY

// media quary
@media screen and (max-width:900px) {
    // HERO
    .hero {
        div {
            .heroFrase {
                font-size: 2rem;
            }

            .heroTitulo {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width:1200px) {

    // BLOG
    .contenedor {
        flex-direction: column;

        .Titulo {
            font-size: 1.5rem;
        }

        .contenedorContainer {
            .contenedorTexto {
                font-size: 1rem;
            }

            .contenedorLista {
                font-size: 0.8rem;
                padding: 1.5rem;
            }
        }
    }
}

@media screen and (max-width:1200){
        // ACERCADE
        .acercade {
            .section1{
                .section2{
                    display: flex;
                    flex-direction: column;
            }
                }

        }
}